@use 'utils/variables' as *;
@use 'utils/mixins' as *;
@use './shared/descriptions' as *;
@use './shared/titles' as *;
@use './shared/vertical-titles' as *;
@use './shared/pages' as *;

.about {
  @extend %page;
  background: $color-cadet-blue ;
  color: $color-bright-grey;
  opacity: 0;
}

.about__wrapper {

}

.about__title{
  @extend %title-100;

  margin: auto;
  max-width: 126rem;
  text-align: center;

  @include media('<phone') {
    max-width: 67.7rem;
  }
}
