.about__content {
    display: flex;
    justify-content: center;
    margin: 20rem auto;
    position: relative;

  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  &:nth-child(5) {
    justify-content: flex-end;
    }
}

.about__content__wrapper  {
  display: flex;

  .about__content--right & {
    flex-direction: row-reverse;
  }
}

.about__content__box {
 display: flex;

}

.about__content__label {
  @extend %descriptions-12;
  width: 18rem;
  text-transform: uppercase;

}
.about__content__description {
  width: 36.2em;

  p:not(:first-child) {
    margin-top: 2.5rem;
  }

}
.about__content__media  { // ici pour chaque partie de content on va aller faire du fine tuning afin de pouvoir gérer l'affichage de chaque image
  position: relative;

  .about__content:nth-child(3) & {
    height: 50rem;
    width: 50rem;
    margin-left: 17.8rem;
  }

  .about__content:nth-child(5) & {
    height: 90rem;
    width: 52rem;
    margin-left: 12rem;
  }
  
  
    .about__content:nth-child(8) & {
      height: 80rem;
      width: 50rem;
      margin-right: 12rem;
    }

  .about__content:nth-child(9) & {
    height: 80rem;
    width: 60rem;
    margin-left: 18rem;
  }

  
}

.about__content__media__image {
  width: 100%;
  height: 100%;
  @extend %cover;
  object-fit: cover;
}