.detail {
  @extend %cover;
  @extend %center;
  color: $color-white;
  background: $color-quicksand;
}

.detail__wrapper  {
  @extend %cover;
  display: flex;

}

.detail__media  {
  height: 78.2rem;
  position: relative ;
  width: 55.4rem;


}

.detail__media__image {
  @extend %cover;
  object-fit: cover;

}

.detail__information  {
padding-left: 8.2rem;
}

.detail__information__collection {
  @extend %descriptions-12;

  text-transform: uppercase;
  margin-bottom: 4rem;

}

.detail__information__title {
  @extend %title-120;
  max-width: 60rem;

}

.detail__information__content  {
  padding-left: 18rem;

}

.detail__information__highlights {
  margin-top: 6rem ;
}

.detail__information__highlight  {
  align-items: center;
  display: flex;

  &:not(:first-child) {
    margin-top: 2rem;
  }
}

.detail__information__highlight__icon {
  border: 1px solid #f0f;
  border-radius: 50%;
  height:  4rem ; 
  width: 4rem ;
  margin-right: 3.75rem ;

}

.detail__information__highlight__text {

}

.detail__information__list  {
  margin-top: 4rem ;

}

.detail__information__item {
  display: flex;

  &:not(:first-child) {
    margin-top: 2rem;
  }
}

.detail__information__item__title {
  @extend %descriptions-12;
  width: 10rem;
}

.detail__information__item__description {
  @extend %descriptions-14;
  margin-left: 2rem;
  max-width: 44rem;

}

.detail__information__link {
    @extend %title-30;
  margin-top: 3rem;
}
