@use 'utils/variables' as *;
@use 'utils/mixins' as *;
@use './shared/descriptions' as *;
@use './shared/titles' as *;
@use './shared/vertical-titles' as *;
@use 'utils/functions' as *;

.preloader {
@extend %cover;
@extend %center;

// display: none;
background-color: $color-contessa;
color: $color-quarter-spanish-white;  
text-align: center;
z-index: z('preloader');
}

.preloader__text {
  max-width: 66 rem;
  font-size: 0;

    span{
      display: inline-block; // allow to use GSAP animation on the span (i.e. y: property which doesn't work with only "inline")
      overflow: hidden;
    }

    span span {
      @extend %title-53;

    }

}

.preloader__number {
  @extend %description-14;
  bottom: 7.3rem;
  left: 50%;
  overflow: hidden;
  position: absolute;
  transform: translateX(-50%);  

  @include media('<phone') {
    font-size: 3rem ;
  }

}

.preloader__number__text {
  display: inline-block;

}
