@use 'utils/mixins' as *;
@use 'utils/variables' as *;
@use './shared/descriptions' as *;
@use './shared/titles' as *;
@use './shared/vertical-titles' as *;

*, // "*" selector pour tous les éléments de la page -> applique la propriété à tous les éléments de la page
*:after, // after & before permette d'ajouter du contenu avant ou après un élément  
*:before {
  box-sizing: border-box; // permet de respecter la largeur définie, car autrement la valeur par défaut est content-box (incluant du padding et de la bordure)

}

html {
  font-size: calc(100vw / 1920 * 10);
  line-height: 1;

  @include media('<phone') {
    font-size: calc(100vw / 750 * 10);
  } 
}//le calcul fait pour la font size est basé sur la largeur de la page, pour que la taille de la police s'adapte à la taille de l'écran
  // exemple si mon écran fait 1920px de large, la taille de la police sera de 10px, si celui ci fait 960px de large, la taille de la police sera de 5px car 960/1920 = 0,5, et 10*0,5 = 5px
  //le line-height (interligne) est défini à 1 pour éviter les problèmes de compatibilité entre les navigateurs et est égal à la taille de la police

body {
  @extend%descriptions-16;
  font-family: $font-suisse-bp ;
}

a {
  color: inherit;
  outline: none;
  text-decoration: none;
}

button {
  color: inherit;
  background: none;
  outline: none;
  cursor: pointer;
  border: none;
} // enlève toutes les déco des boutons déjà en place par défaut

img {
  vertical-align: middle;
}

  // pour implémenter les breakpoints : 
  // @include media ('<phone') {
    // @extend%descriptions-14;
  // }
