@font-face {
  font-family: 'George X';
  src: 
  url('../fonts/george-x-regular.woff2') format('woff2'),
  url('../fonts/george-x-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse BP';
  src: 
  url('../fonts/suissebp-light.woff') format('woff'),
  url('../fonts/suissebp-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse BP';
  src: url('../fonts/suissebp-regular.woff') format('woff'),
  url('../fonts/suissebp-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse BP';
  src: url('../fonts/suissebp-ultralight.woff') format('woff'),
  url('../fonts/suissebp-ultralight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
