@use 'utils/mixins' as *;
@use 'utils/variables' as *;
@use './shared/descriptions' as *;
@use './shared/titles' as *;
@use './shared/vertical-titles' as *;
@use './shared/pages' as *;

.collections {
  @extend %page;

//   background: $color-quicksand;
//   color: $color-quarter-spanish-white;
}

.collections__wrapper {
  @extend %cover;
  overflow: hidden;
}

.collections__titles {
  @extend %vertical-titles; 

  @include media('<phone') {
    display: none;
  }
}

.collections__titles__label {
  @extend %vertical-titles-label; 
}

.collections__titles__title {
  @extend %vertical-titles-title; 
}

.collections__gallery {
  @extend %cover;
}

.collections__gallery__wrapper {
  align-items: center;
  display: flex ;
  position:absolute;
  top: 50%;
  transform: translateY(-50%);

}

.collections__gallery__link {
display: block;
margin: 0 5.3rem;
}

.collections__gallery__media {
  height : 74.1rem;
  position: relative;
  width: 44.7rem;
}

.collections__gallery__media__image {
  @extend %cover;
  object-fit: cover; // permet de garder les proportions de l'image sans déformer meme si la taille de l'image est différente de celle du conteneur
}

.collections__content {
  @extend %cover;

  @include media('<phone') {
    display: none;
  }
}

.collections__article {
left: 8rem;
position: absolute;
bottom: 8rem;
opacity : 0; // permet de rendre l'élément invisible et celui ci est associé à la partie .collection__content ".collection__article--active" dans le fichier collections.pug (c'est une partie en JS) 
  &--active {
    opacity: 1;
  }
}

.collections__article__title {
  @extend %title-60;
}

.collections__article__description {
  @extend %descriptions-16;
  max-width: 44rem;
}

.collections__mobile {
  display: none;
  position: absolute;
  bottom: 5rem;

  @include media('<phone') {
    display: flex;
  }
}
.collections__mobile__item {
  width: 100vw;
  padding-left: 5rem;
}
.collections__mobile__item__label {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.collections__mobile__item__title {
  font-family: $font-george-x;
  font-size: 12rem;
}
